*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #36393F;
    color: white;
    font-size: 25px;
}
#hdr{
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-1{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), no-repeat center 100% url(../image/bg.png);
}

.img-2{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), no-repeat center 100% url(../image/bg2.jpg);
}


#titre{
    text-align: center; 
    transition: opacity 0.3s linear;
}

#titre h1{
    font-size: 80px;
}
h1,h2{
    opacity: 1;
    transition: opacity 0.2s linear;
}

.titreOpaDown{
    opacity: 0;
    transition: opacity 0.3s linear;
}

/*-----------------------barnav----------------------*/
#barnav{
    position: absolute;
    width: 100%;
    height: 100vh;
}
#menuBurger {
    
}
#closeBurger{
    
}
.iconB{
    margin-left: 10px;
    width: 50px;
    z-index: 15;
    position: absolute;
}
.iconBDisplayUp{
    display: none;
}
.iconBDisplayNone{
    display: none;
}
#menu-button{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    z-index: 10;
}

a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    opacity: 0;
    transition: opacity 0.2s linear;
}
a:hover{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 0.2s linear;
}

/*-----responsive navbar------*/
@media screen and (max-width:1024px) {
    #menu-button{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
    }
    #menuBurger{
        z-index: 15;
    }
    .iconBDisplayUp{
        display: unset;
    }
    .iconBDisplayNone{
        display: none;
    }
    .closeMenu{
        bottom: 10%;
        transform: translate(0, -125%);
        transition: all 0.5s ease-in-out;
    }
    .closeMenu a {
    }
    .openMenu{
        transform: translate(0,0);
        transition: all 0.5s ease-in-out;
        
    }
    .openMenu a {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.4);
    }
}

/*--------------gestion de la scrollbar--------------------*/
/* width */
::-webkit-scrollbar {
    width: 5px;
    position: absolute;
    display: none;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    display: none;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #007ACC;
    border-radius: 10px;
  }